* {
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  color: var(--blue-12);
  background: linear-gradient(var(--blue-2), var(--blue-4));
  font-family: var(--font-system-ui);
}

main {
  max-width: 35rem;
  margin-inline: auto;
  padding-inline: var(--size-fluid-3);
}

.hero {
  margin-block-start: var(--size-fluid-4);
  text-align: center;
}

.hero h1 {
  font-size: var(--font-size-fluid-3);
  font-weight: var(--font-weight-7);
}

.weather {
  margin-block-start: var(--size-fluid-3);
}

.weather form {
  display: flex;
  filter: drop-shadow(var(--shadow-6));
}

.weather input[type="search"],
.weather button[type="submit"] {
  border: transparent;
  background-color: var(--blue-0);
  padding: var(--size-3) var(--size-5);
}

.weather input[type="search"] {
  flex-grow: 1;
  border-start-start-radius: var(--radius-3);
  border-end-start-radius: var(--radius-3);
}

.weather button[type="submit"] {
  display: grid;
  background-color: var(--blue-8);
  border-end-end-radius: var(--radius-3);
  border-start-end-radius: var(--radius-3);
  transition: 150ms;

  &:hover {
    cursor: pointer;
    color: var(--blue-0);
    background-color: var(--blue-6);
  }

  & svg {
    fill: var(--blue-0);
  }
}

.weather-card {
  background: linear-gradient(160deg, var(--blue-0), var(--blue-1));
  padding: var(--size-5);
  border-radius: var(--radius-3);
  margin-block: var(--size-6);
}

[data-loading],
[data-error] {
  text-align: center;
}

.weather-details {
  display: grid;
  gap: var(--size-5);

  @media (width>=35em) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

[data-temperature] {
  font-size: var(--font-size-8);
}

[data-description] {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-5);
}

.meta-details {
  background-color: var(--blue-2);
  padding: var(--size-5);
  border-radius: var(--radius-3);
}

.extra-details dd {
  font-weight: var(--font-weight-5);
}

[data-description] {
  margin-block-start: var(--size-1);
}

.extra-details {
  display: grid;
  gap: var(--size-1);
}

.extra-details div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calc-time {
  text-align: center;
  color: var(--blue-10);
  font-size: var(--font-size-0);

  @media (width>=35em) {
    grid-column: 1/3;
  }
}

[data-time] {
  font-weight: var(--font-weight-5);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
