@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/poppins/poppins-v23-latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/public/fonts/poppins/poppins-v23-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/poppins/poppins-v23-latin-700.woff2") format("woff2");
}

:root {
  --clr-text-1: hsl(209 75.7% 21%);
  --clr-text-2: hsl(209 75.8% 32.4%);
  --clr-surface-1: hsl(205 100% 95.3%);
  --clr-surface-2: hsl(206 100% 90.8%);
  --clr-surface-3: hsl(206 100% 82.4%);
  --clr-surface-4: hsl(207 91.4% 63.5%);

  --sz-100: 0.25rem;
  --sz-200: 0.5rem;
  --sz-300: 0.75rem;
  --sz-400: 1rem;
  --sz-500: 1.25rem;
  --sz-600: 1.5rem;
  --sz-700: 1.75rem;
  --sz-800: 2rem;
  --sz-900: 2.25rem;

  --br-100: 4px;
  --br-200: 8px;
  --br-300: 12px;
  --br-400: 16px;
  --br-500: 20px;
  --br-600: 24px;
  --br-700: 28px;
  --br-800: 32px;
  --br-900: 36px;
  --br-circle: 50%;
  --br-pill: 100vw;

  --ff-sans: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 2rem;
  --fs-700: 3rem;

  @media (min-width: 40em) {
    --sz-500: 1.5rem;

    --fs-600: 3rem;
    --fs-700: 4rem;
  }
}

* {
  margin: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  color: var(--clr-text-1);
  background: linear-gradient(var(--clr-surface-3), var(--clr-surface-4));
  font-family: var(--ff-sans);
  line-height: 1.5;
}

main {
  max-width: 35rem;
  margin-inline: auto;
  padding-inline: var(--sz-500);
}

.hero {
  margin-block-start: var(--sz-500);
  text-align: center;
}

.hero h1 {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.weather {
  margin-block-start: var(--sz-600);
}

.weather form {
  display: flex;
}

.weather input[type="search"],
.weather button[type="submit"] {
  border: transparent;
  background-color: var(--clr-surface-1);
  padding: var(--sz-400) var(--sz-500);
}

.weather input[type="search"] {
  flex-grow: 1;
  border-start-start-radius: var(--br-400);
  border-end-start-radius: var(--br-400);
}

.weather button[type="submit"] {
  display: grid;
  background-color: var(--clr-text-1);
  border-end-end-radius: var(--br-400);
  border-start-end-radius: var(--br-400);
  transition: 150ms;

  &:hover {
    cursor: pointer;
    background-color: var(--clr-text-2);
  }

  & svg {
    fill: var(--clr-surface-1);
  }
}

.weather-card {
  background: linear-gradient(
    160deg,
    var(--clr-surface-1),
    var(--clr-surface-2)
  );
  padding: var(--sz-500);
  border-radius: var(--br-500);
  margin-block: var(--sz-700);
}

[data-loading],
[data-error] {
  text-align: center;
}

.weather-details {
  display: grid;
  gap: var(--sz-600);

  @media (width>=35em) {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

[data-temperature] {
  font-size: var(--fs-600);
}

[data-description] {
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
}

.meta-details {
  background-color: var(--clr-surface-3);
  padding: var(--sz-500);
  border-radius: var(--br-400);
}

.extra-details dd {
  font-weight: var(--fw-medium);
}

[data-description] {
  margin-block-start: var(--sz-100);
}

.extra-details {
  display: grid;
  gap: var(--sz-200);
}

.extra-details div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calc-time {
  text-align: center;
  color: var(--clr-text-2);
  font-size: var(--fs-200);

  @media (width>=35em) {
    grid-column: 1/3;
  }
}

[data-time] {
  font-weight: var(--fw-medium);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
